<!DOCTYPE html>
<html>

<head>
  <title>GameSeeds</title>
</head>

<body>
  <h1>GameSeeds</h1>

  {% if session.username %}
  <p>
    Logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>
  <p>
    <a href=/new_item>New Seed<a/>
  </p>
  {% else %}
  <p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </p>
  {% endif %}

  <h2>Posts</h2>
  <form action="/" method="get">
    <p>Game: <select name="game_id">
      <option value="">All</option>
      <option {% if game_id == "0" %}selected{% endif %} value="0">Testgame</option>
      <option {% if game_id == "1" %}selected{% endif %} value="1">Testgame1</option>
      <option {% if game_id == "2" %}selected{% endif %} value="2">Testgame2</option>
      <option {% if game_id == "3" %}selected{% endif %} value="3">Testgame3</option>
    </select></p>
    <p>Search: <input type="text" name="terms" value="{{ terms }}"> <input type="submit" value="Search"></p>
  </form>
    <ul>
    {% for item in items %}
    <li><a href="/item/{{  item.id  }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
    {% if not items %}
    <p>No results</p>
    {% endif %}
</body>

</html>

