{% extends "flash.html" %}
{% block body %}
  <h1>GameSeeds</h1>

  {% if session.username %}
  <p>
  Logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>
  <p>
    <a href="/new_game">Add Game</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </p>
  {% endif %}

  <h2>Games</h2>
  <form action="/" method="get">
    <p>Search: <input type="text" name="terms" value="{{ terms }}"> <input type="submit" value="Search"></p>
  </form>
    <ul>
    {% for game in games %}
    <li><a href="/game/{{  game.id  }}">{{ game.title }}</a></li>
    {% endfor %}
    </ul>
    {% if not games %}
    <p>No results</p>
    {% endif %}
{% endblock %}
