{% extends "flash.html" %}

{% block title %}Gameseeds{% endblock %}

{% block body %}
  <h2>Games</h2>

  <p>
    {% if session.user_id %}
    <a href="/new_game">Add Game</a>
    {% endif %}
  </p>

  <form action="/" method="get">
    <p>Search: <input type="text" name="terms" value="{{ terms }}"> <input type="submit" value="Search"></p>
  </form>
    <ul>
    {% for game in games %}
    <li><a href="/game/{{  game.id  }}">{{ game.title }}</a></li>
    {% endfor %}
    </ul>
    {% if not games %}
    <p>No results</p>
    {% endif %}
{% endblock %}
