<!DOCTYPE html>
<html>

<head>
  <title>New Post</title>
</head>

<body>
  <form action="/create_item" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Game: <br />
      <select name="game">
        <option value="">(Select)</option>
        <option value="Testgame1">Testgame1</option>
        <option value="Testgame2">Testgame2</option>
        <option value="Testgame3">Testgame3</option>
      </select>
    </p>
    <p>
      Seed: <br />
      <input type="text" name="seed" maxlength="50" pattern="[0-9]{0,50}" required/>
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="8" cols="40" maxlength="1000" required></textarea>
    </p>
    <input type="submit" value="Create Post" />
  </form>
</body>

</html>

