<!DOCTYPE html>
<html>

<head>
  <title>New Seed</title>
</head>

<body>
  <form action="/create_item" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Game: <br />
      <input type="text" name="game" />
    </p>
    <p>
      Seed: <br />
      <input type="text" name="seed" />
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="8" cols="40"></textarea>
    </p>
    <input type="submit" value="Create Post" />
  </form>
</body>

</html>

