{% extends "flash.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
  <h2>{{ item.title }}</h2>
  <p>
    <a href="/game/{{ item.game_id }}">Back</a>
  </p>
  <h3>{{ item.game }}</h3>
  <h3>{{ item.seed }}</h3>
  <p>
  OP: <a href="/user/{{ item.user_id }}">{{ item.username }}<a/>
  </p>

  <p>
  {{ item.description }}
  </p>
  <p>
    {% if session.user_id == item.user_id %}
    <a href="/edit_item/{{ item.id }}">Edit</a>
    <a href="/remove_item/{{ item.id }}">Delete</a>
    {% endif %}
  </p>

  {% if session.user_id %}
  <h2>Create comment</h2>
  <form action="/create_comment" method="post">
    <p>
      <textarea name="comment" rows="2" cols="40" maxlength="400" required></textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="submit" value="Send"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  </form>
  {% endif %}

  <h2>Comments</h2>
  {% for comment in comments %}
  <p><a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> | {{ comment.time }} :</p>
  <p>{{ comment.content }}</p>
  {% if session.user_id == comment.user_id %}
  <p>
    <a href="/remove_comment/{{ comment.id }}">Delete</a>
  </p>
  {% endif %}
  {% endfor %}
{% endblock %}
