{% extends "flash.html" %}

{% block title %}{{ game.title }}{% endblock %}

{% block body %}
<h2>{{ game.title }}</h2>
  <p>
  <a href="/">Back</a>
  {% if session.username %}
  <a href=/game/{{ game.id }}/new_item>New Seed<a/>
  {% endif %}
  </p>

  <h2>Posts</h2>
  <form action="/game/{{ game.id }}" method="get">
    <p>Search: <input type="text" name="terms" value="{{ terms }}"> <input type="submit" value="Search"></p>
  </form>
    <ul>
    {% for item in items %}
    <div class="item">
      <a href="/item/{{  item.id  }}">
        {{ item.title }}</a> | 
        {{ item.seed }} | 
        <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
    </div>
    {% endfor %}
    </ul>
    {% if not items %}
    <p>No results</p>
    {% endif %}
{% endblock %}
