<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
  <h1>{{ item.title }}</h1>
  <h3>{{ item.game }}</h3>
  <h3>{{ item.seed }}</h3>
  <p>
  OP: <a href="/user/{{ item.user_id }}">{{ item.username }}<a/>
  </p>
  <p>
  {{ item.description }}
  </p>
  <p>
    <a href="/">Back</a>
    {% if session.user_id == item.user_id %}
    <a href="/edit_item/{{ item.id }}">Edit</a>
    <a href="/remove_item/{{ item.id }}">Delete</a>
    {% endif %}
  </p>
  <h2>Create comment</h2>
  <form action="/create_comment" method="post">
    <p>
      <textarea name="comment" rows="8" cols="40" maxlength="400" required></textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="submit" value="Send"/>
  </form>
  {% for comment in comments %}
  <p><a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> | {{ comment.time }} : {{ comment.content }}</p>
  {% endfor %}
</body>

</html>
