{% extends "flash.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block body %}
  <h2>User {{ user.username }}</h2>
  <p>
    User has {{ items | count }} posts
  </p>
  <p>
    User has {{ comments | count }} comments
  </p>

  <h3>Posts</h3>
  <div>
    {% for item in items %}
    <p class="item" ><a href="/item/{{ item.id }}">{{ item.title }}</a></p>
    {% endfor %}
  </div>

  <h3>Commented on posts</h3>
  <div>
    {% for comment in comments %}
    <p class="item" ><a href="/item/{{ comment.item_id }}">{{ comment.item_title }}</a></p>
    {% endfor %}
  </div>
{% endblock %}
