{% extends "flash.html" %}

{% block title %}{{ game.title }}{% endblock %}

{% block body %}
<h2>{{ game.title }}</h2>
  <p>
  {% if session.username %}
  <a href=/game/{{ game.id }}/new_item>New Seed<a/>
  {% endif %}
  <a href="/">Back</a>
  </p>

  <h2>Posts</h2>
  <form action="/game/{{ game.id }}" method="get">
    <p>Search: <input type="text" name="terms" value="{{ terms }}"> <input type="submit" value="Search"></p>
  </form>
    <ul>
    {% for item in items %}
    <li><a href="/item/{{  item.id  }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
    {% if not items %}
    <p>No results</p>
    {% endif %}
{% endblock %}
